<% include ../partials/header %>

<div class="container">	
	<div class="row">
		
			<h2 class="text-center">Bars near: <%-location %> </h2>

	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-4">
			<form class="form-inline" action="/bars" method="GET">
  				<div class="form-group">
    				<input type="text" class="form-control" name="location" placeholder="e.g Athens">
    				<button type="submit" class="btn btn-success">Search Again</button>
  				</div>
			</form>
		</div>
	</div>
		


	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
				<ul class="event-list">
					<% venues.forEach(function(venue) { %>
							<% if (venue.venue.photos.groups[0]) { %>
								<% var photo = venue.venue.photos.groups[0].items[0] %>
								<% var prefix = photo.prefix; %>
								<% var suffix = photo.suffix; %>
								<% var photoUrl = prefix+'250x250'+suffix; %>
							<% } %>
					<li>
						<time datetime="2014-07-20">
							<a href="http://www.google.com"><img src="<%-photoUrl%>" alt='' height="100%" width="100%"></a>
						</time>						
						<div class="info">
							<h2 class="title"><%-venue.venue.name%></h2>

							<p class="desc"><%-venue.venue.location.address%></p>
							<% if(venue.venue.url) { %>
								<a class="btn btn-default" href="<%-venue.venue.url %>">Visit Venue HomePage</a>
							<% } %>
							<% var cords = venue.venue.location.lat + "," + venue.venue.location.lng %>
							<a  class="btn btn-primary" href='https://www.google.com/maps/@<%- cords %>'>Find it on the Map</a>
							<a  class="btn btn-warning" href="/bars/checkin">Test Checkin</a>
							<p>Here now <%-venue.venue.hereNow.count%> </p>
						</div>
					</li>
					<% }) %>
				</ul>
		</div>
	</div>
	

</div>

<% include ../partials/footer %>
